@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";


@theme {
    --color-main: #7ed957 ;
    --color-secondary: #387733;
    --color-black:#13181A;
    --color-gray: #546066;
    --color-white: #f8f8f8;

    --font-main: 'Open Sans', 'sans-serif';

}